<h1>HERO LISTING AND REMOVAL</h1>
<div>
  <table class= "table table-striped table-bordered table-hover table-condensed">
    <thead class="thead-default">
      <tr>
        <th>Persona</th>
        <th>Alias</th>
        <th>Power ID</th>
        <th>Power Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hero in edit.heroes | orderBy:'power_id'">
        <td>{{hero.persona}}</td>
        <td>{{hero.alias}}</td>
        <td>{{hero.power_id}}</td>
        <td>{{hero.description}}</td>
        <td><button ng-click="edit.deleteHero(hero)">REMOVE</button></td>
      </tr>
    </tbody>
  </table>
</div>
